## here I am importing pandas library

In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('banking.csv')

## To see all columns clearly

In [53]:
pd.set_option("display.max_columns",None)

## View top 5 rows

In [54]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,210,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,138,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,339,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,185,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,137,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

## Size of our dataset

In [55]:
df.shape

(41188, 21)

## Checking null Values in our dataset

In [96]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
dtype: int64

## to see data type

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp_var_rate    41188 non-null  float64
 16  cons_price_idx  41188 non-null  float64
 17  cons_conf_idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr_employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

## Checking unique values in these columns

In [58]:
df['poutcome'].unique()

array(['nonexistent', 'success', 'failure'], dtype=object)

In [59]:
df['job'].unique()

array(['blue-collar', 'technician', 'management', 'services', 'retired',
       'admin.', 'housemaid', 'unemployed', 'entrepreneur',
       'self-employed', 'unknown', 'student'], dtype=object)

In [60]:
df['marital'].unique()

array(['married', 'single', 'divorced', 'unknown'], dtype=object)

In [61]:
df['education'].unique()

array(['basic.4y', 'unknown', 'university.degree', 'high.school',
       'basic.9y', 'professional.course', 'basic.6y', 'illiterate'],
      dtype=object)

In [62]:
df['default'].unique()

array(['unknown', 'no', 'yes'], dtype=object)

In [63]:
df['housing'].unique()

array(['yes', 'no', 'unknown'], dtype=object)

In [64]:
df['loan'].unique()

array(['no', 'yes', 'unknown'], dtype=object)

In [65]:
df['contact'].unique()

array(['cellular', 'telephone'], dtype=object)

In [66]:
df['month'].unique()

array(['aug', 'nov', 'jun', 'apr', 'jul', 'may', 'oct', 'mar', 'sep',
       'dec'], dtype=object)

In [67]:
df['day_of_week'].unique()

array(['thu', 'fri', 'tue', 'mon', 'wed'], dtype=object)

## Using LabelEncoder We are converting all categorical columns into numbers

In [68]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [70]:
df["poutcome"] = le.fit_transform(df["poutcome"])
df["job"] = le.fit_transform(df["job"])
df["marital"] = le.fit_transform(df["marital"])
df["education"] = le.fit_transform(df["education"])
df["default"] = le.fit_transform(df["default"])
df["housing"] = le.fit_transform(df["housing"])
df["loan"] = le.fit_transform(df["loan"])
df["contact"] = le.fit_transform(df["contact"])
df["month"] = le.fit_transform(df["month"])
df["day_of_week"] = le.fit_transform(df["day_of_week"])

In [71]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,1,1,0,1,2,0,0,1,2,210,1,999,0,1,1.4,93.444,-36.1,4.963,5228.1,0
1,53,9,1,7,0,0,0,0,7,0,138,1,999,0,1,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,4,2,6,0,2,0,0,4,2,339,3,6,2,2,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,7,1,3,0,0,0,0,0,0,185,2,999,0,1,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,5,1,0,0,2,0,0,1,0,137,1,3,1,2,-2.9,92.201,-31.4,0.869,5076.2,1

## Here We are taking our target variable as y

In [72]:
y=df.loc[:,'y']

In [73]:
y.head()

0    0
1    0
2    1
3    0
4    1
Name: y, dtype: int64

## dropping y

In [74]:
df.drop(['y'],axis=1,inplace=True)

## again we are checking the shape of our dataset after dropping y

In [76]:
df.shape

(41188, 20)

## Here We are taking our entire dataframeas independent varible

In [77]:
x=df

## Now we split our data into train and test

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

## After spliting now we check shape

In [80]:
X_train.shape

(28831, 20)

In [81]:
X_test.shape

(12357, 20)

In [82]:
y_train.shape

(28831,)

In [83]:
y_test.shape

(12357,)

## now we are applying ML Algo. DecisionTree

In [90]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import classification_report, plot_confusion_matrix

In [91]:
dt= DecisionTreeClassifier()

In [92]:
dt.fit(X_train,y_train)

DecisionTreeClassifier()

In [93]:
predict=dt.predict(X_test)

In [94]:
predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

## Here we are checking the accuracy and some other things

In [95]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.94      0.93      0.94     10931
           1       0.51      0.54      0.53      1426

    accuracy                           0.89     12357
   macro avg       0.73      0.74      0.73     12357
weighted avg       0.89      0.89      0.89     12357